@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  /* 62.5% = 10px */
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

/* Header Section Styles*/
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 5rem 24rem;
  margin-bottom: 8.5rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-logo h1 {
  cursor: pointer;
  color: #131313;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
}
.text-logo h1:hover {
  color: #ff900e;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  margin-right: 3rem;
}
nav a:hover {
  color: #ff900e;
}
/* Banner Section */
.banner {
  text-align: center;
}
.banner h1 {
  width: 100%;
  color: #131313;
  font-size: 6.4rem;
  font-weight: 700;
  margin: 10rem auto 1rem auto;
}
.banner p {
  width: 100%;
  color: #727272;
  font-weight: 400;
  line-height: 2.6rem;
  margin: 0 auto 3.2rem auto;
}
.banner img {
  width: 90%;
}
.primary-btn {
  width: 18rem;
  height: 6.4rem;
  border-radius: 0.8rem;
  background: #ff900e;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  border: 0;
  margin: 0 auto 5rem auto;
}

/* Our Features Section styles */
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30rem 13rem 30rem;
  gap: 7.5rem;
  margin-bottom: 13rem;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;
}
.feature-content h2 {
  width: 48.6rem;
  color: #727272;
  font-size: 4.5rem;
  font-weight: 500;
}
#t1 {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}
#t2 {
  color: #ff900e;
  font-size: 4.5rem;
  font-weight: 700;
}
.feature-content p {
  width: 53.7rem;
  color: #727272;
  font-weight: 400;
  margin-bottom: 3.2rem;
}
/* Features you will love section style */

.feature-you-love {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 24rem;
  gap: 14.6rem;
  background: #fff;
  margin-bottom: 13rem;
}

/* feature-left-content */
.feature-top-title {
  position: relative;
  width: 46.8rem;
  margin-left: 2rem;
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}
.feature-top-title::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 5px;
  height: 105px;
  background-color: #ff900e;
}
.feature-top-description {
  width: 58.6rem;
  color: #727272;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 3rem;
}
.content {
  padding: 0.1rem 4.2rem 1rem 3rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  width: 58.6rem;
  height: 17.1rem;
}
.content-title {
  color: #131313;
  font-size: 2rem;
  font-weight: 600;
}
.content-description {
  width: 51.4rem;
  color: #727272;
  font-weight: 400;
  line-height: 2.6rem;
}
/* Feature right content */
.feature-right-content {
  position: relative;
}
.feature-right-content img {
  width: 70.8rem;
  height: 98.2rem;
}
.experience {
  display: flex;
  position: absolute;
  left: -9rem;
  bottom: -12.3rem;
  justify-content: center;
  align-items: center;
  width: 34.2rem;
  height: 20rem;
  border-radius: 8px;
  background: #ff900e;
  padding: 4.5rem 4rem;
  color: #fff;
}
.experience h1 {
  width: 25.8rem;
  text-align: center;
  color: #fff;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 7rem;
}
#experience-span {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 4rem;
}

/* Some Facts Section styles */
.facts-container {
  padding: 0 29rem 0 24rem;
  margin-bottom: 18rem;
}
.common-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.facts-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}
.facts-box {
  text-align: center;
  width: 24.2rem;
  height: 24.2rem;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.facts-box img {
  width: 45.221px;
  height: 45.221px;
  padding: 0;
  margin: 4.5rem auto 1rem auto;
}
.facts-box h2 {
  color: #424242;
  font-size: 4.5rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.facts-box p {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0 auto 6rem auto;
}

/* Our sponsor styles */
.sponsor-container {
  margin-bottom: 13rem;
}
.sponsor-top-content {
  text-align: center;
}
.sponsor-top-content p {
  margin: 2.4rem auto 5rem auto;
}
.sponsor-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24rem 0 24rem;
}

/* Footer style */
footer {
  margin: 0 12%;
}
.footer-content {
  background: #fff4e7;
  padding: 2rem 35rem;
  text-align: center;
  margin-bottom: 21.6rem;
  border-radius: 10px;
}
.footer-content p {
  color: #424242;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

/* Responsive Styles */

/* for mobile devices */
@media (max-width: 575.98px) {
  /* header section */
  header {
    padding: 1rem 1rem;
  }
  .header-nav {
    flex-direction: column;
  }
  .text-logo h1 {
    font-size: 3.5rem;
  }
  nav a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 0;
    margin-right: 1rem;
  }
  
  .banner h1 {
    font-size: 4.4rem;
    margin-top: 3rem;
  }
  .banner p {
    width: 100%;
    line-height: 2rem;
  }
  .primary-btn {
    width: 50%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: 0 auto 2rem auto;
  }
  /* our features section */
  .feature-container {
    flex-direction: column-reverse;
    padding: 0 3rem 3rem 3rem;
    gap: 0;
    margin-bottom: 5rem;
  }
  .team-img {
    gap: 1rem;
  }
  .team-img img{
    width: 100%;
  }
  .feature-content{
    text-align: center;
  }
  .feature-content h2 {
    width: 100%;
    font-size: 3.5rem;
  }
  #t1 {
    font-size: 3.5rem;
  }
  #t2 {
    font-size: 3.5rem;
  }
  .feature-content p {
    width: 100%;
    margin-bottom: 3.2rem;
  }
  /* Features you will love section style */

.feature-you-love {
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
  margin-bottom: 3rem;
}

/* feature-left-content */
.feature-top-title {
  width: 90vw;
  margin-left: 1rem;
  font-size: 3.5rem;
}
.feature-top-title::before {
  left: -1rem;
  width: 5px;
  height: 100%;
}
.feature-top-description {
  width: 100vw;
  margin-left: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.content {
  padding: 0.1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  width: 90vw;
  height: 17.1rem;
}
.content-title {
  font-size: 2rem;
}
.content-description {
  width: 100%;
  line-height: 2rem;
}
/* Feature right content */
.feature-right-content {
  position: relative;
}
.feature-right-content img {
  width: 100%;
  height: auto;
}
.experience {
  left: 0;
  bottom: -5%;
  width: 50%;
  height: auto;
  margin: 0 25%;
  padding: 0 0.5rem;
}
.experience h1 {
  width: 100%;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
#experience-span {
  font-size: 2rem;
  line-height: 0;
}

/* Some facts section responsive styles */
.facts-container {
  padding: 0 2rem 0 2rem;
  margin-bottom: 5rem;
  margin-top: 8rem;
  text-align: center;
}
.common-title {
  color: #131313;
  font-size: 3.5rem;
  font-weight: 700;
}
.facts-numbers {
  gap: 1rem;
  margin-top: 5rem;
}
.facts-box {
  width: 100%;
  height: 12rem;
  padding-top: 5%;
  padding-bottom: 5%;
}
.facts-box img {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0;
}
.facts-box h2 {
  font-size: 2rem;
}
.facts-box p {
  font-size: 1.6rem;
  margin: 0;
}

/* Our sponsor responsive styles */
.sponsor-container {
  margin-bottom: 13rem;
}
.sponsor-top-content {
  text-align: center;
}
.sponsor-top-content p {
  margin: 2.4rem auto 5rem auto;
}
.sponsor-logo-container {
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}
.sponsor-logo-container img{
  width: calc(20% - 2rem);
}
/* Footer responsive style */
footer {
  margin: 0 12%;
}
.footer-content {
  padding:1rem 1rem;
  margin-bottom: 5rem;
}
.footer-content p {
  font-size: 1.4rem;
  font-weight: normal;
}
}
/* for tab or medium devices */
@media (min-width: 575.99px) and (max-width: 752px) {
  /* header section */
  header {
    padding: 1rem 8rem;
  }
  .text-logo h1 {
    font-size: 4rem;
    transition: all 0.3s;
  }
  .header-nav {
    flex-direction: column;
  }
  nav a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 0;
    margin-right: 1rem;
    transition: all 0.3s;
  }
  .banner h1 {
    font-size: 4.4rem;
    margin-top: 3rem;
    transition: all 0.5s;
  }
  .banner p {
    width: 100%;
    color: #727272;
    line-height: 2rem;
    transition: all 0.6s;
  }
  .banner p br {
    display: none;
  }
  .primary-btn {
    width: 25%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: 0 auto 2rem auto;
    transition: all 0.7s;
  }
  /* our features section */
  .feature-container {
    flex-direction: column-reverse;
    padding: 0 3rem 3rem 3rem;
    gap: 0;
    margin-bottom: 5rem;
  }
  .team-img {
    gap: 1rem;
  }
  .team-img img{
    width: 100%;
  }
  .feature-content{
    text-align: center;
  }
  .feature-content h2 {
    width: 100%;
    font-size: 5rem;
  }
  #t1 {
    font-size: 5rem;
  }
  #t2 {
    font-size: 5rem;
  }
  .feature-content p {
    width: 100%;
    margin-bottom: 3.2rem;
  }
    /* Features you will love section style */

.feature-you-love {
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
  background: #fff;
  margin-bottom: 3rem;
}

/* feature-left-content */
.feature-top-title {
  width: 100vw;
  margin-left: 1rem;
  font-size: 3.5rem;
}
.feature-top-title::before {
  left: -1rem;
  width: 5px;
  height: 100%;
}
.feature-top-description {
  width: 100vw;
  margin-left: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.content {
  padding: 0.1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  width: 100vw;
  height: 17.1rem;
}
.content-title {
  font-size: 2rem;
}
.content-description {
  width: 100%;
  line-height: 2rem;
}
/* Feature right content */
.feature-right-content {
  position: relative;
}
.feature-right-content img {
  width: 100%;
  height: auto;
}
.experience {
  left: 0;
  bottom: -5%;
  width: 50%;
  height: auto;
  margin: 0 25%;
  padding: 0 0.5rem;
}
.experience h1 {
  width: 100%;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
#experience-span {
  font-size: 2rem;
  line-height: 0;
}
/* Some facts section responsive styles */
.facts-container {
  padding: 0 2rem 0 2rem;
  margin-bottom: 5rem;
  margin-top: 8rem;
  text-align: center;
}
.common-title {
  font-size: 3.5rem;
}
.facts-numbers {
  gap: 1rem;
  margin-top: 5rem;
}
.facts-box {
  width: 100%;
  height: 12rem;
  padding-top: 5%;
  padding-bottom: 5%;
}
.facts-box img {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0;
}
.facts-box h2 {
  font-size: 2rem;
}
.facts-box p {
  font-size: 1.6rem;
  margin: 0;
}
/* Our sponsor responsive styles */
.sponsor-container {
  margin-bottom: 13rem;
}
.sponsor-top-content {
  text-align: center;
}
.sponsor-top-content p {
  margin: 2.4rem auto 5rem auto;
}
.sponsor-logo-container {
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}
.sponsor-logo-container img{
  width: calc(20% - 2rem);
}
/* Footer responsive style */
footer {
  margin: 0 12%;
}
.footer-content {
  padding:1rem 1rem;
  margin-bottom: 5rem;
}
.footer-content p {
  font-size: 1.4rem;
  font-weight: normal;
}
}
